$font-montserat: 'Montserrat',
sans-serif;
$font-script: 'Lily Script One',
cursive;
$font-anton:'Anton',
sans-serif;
$font-baloon: 'Baloo',
cursive;
$font-chewy: 'Chewy',
cursive;
$color-green_1:#299d92;
$color-green_2:#0b5c57;
$color-yellow_1:#fac430;
$color-yellow_2:#ffec93;
$color-yellow_3:#f9c62c;
$color-red_1:#d51730;
$color-red_2:#fe4251;
/*---------------------*/

// $border-radius: 30px;
$green: $color-green_1;