@import "_interface";
@import "../../plugins/bootstrap/scss/bootstrap.scss";
/*-----variable-------*/

body {
    overflow-x: hidden;
    position: relative;
}

body.opened #liste-cart {
    margin-left: 15px;
    margin-right: auto;
}



#liste-products {
    padding: 20px 60px 20px 20px;
}

.products-item {
    margin-top: 100px;

    .item-body {
        position: relative;
        background: $color-yellow_2;
        border-radius: 10px;
        border: 10px solid $color-yellow_2;
    }

    .item-body-inner {
        border: 5px darken($color-yellow_1, 15%) solid;
        border-radius: 10px;
        padding: 0px 20px 20px 20px;
        background: $color-yellow_3;
    }

    .item-img-wrapp {
        width: 75%;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    .item-title {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        padding: 8px 5px;
        font-family: $font-baloon;
        text-shadow: 0 0 0 #000;
        color: white;
        font-weight: bold;
        margin: 10px auto;
    }

    &:hover {
        img {
            transform: translateY(-51px);
        }
    }

    .item-quantity {
        font-family: $font-chewy;
        padding: 0 5px;
        font-size: 1.2em;
        font-weight: 700;
    }

    .delete-item {
        position: absolute;
        top: -20px;
        width: 30px !important;
        height: 30px !important;
        padding: 0px !important;
        box-shadow: 0 0 0px 3px $color-yellow_1 !important;
        right: -20px;
    }
}

.item-price {
    display: inline-flex;
    font-family: $font-chewy;
    background: $color-green_2;
    color: $color-yellow_2;
    font-weight: 600;
    font-size: 1.4rem; // padding:;
    text-align: center;
    border-radius: 30px;
    min-width: 40%;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;

    span:last-child {
        display: inline-block;
        margin-left: 10px;
        height: 30px;
        width: 30px;
        background: $color-yellow_2;
        color: $color-green_2;
        font-weight: 700; // line-height: 30px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 5px $color-yellow_1;
        font-size: .8em;
        line-height: 30px;
    }

    +footer {
        margin-top: 20px;
        text-align: center;

        .btn {
            display: inline-block;
            font-family: $font-baloon;
            -webkit-font-smoothing: antialiased;
            border-radius: 30px;
            font-weight: 600;
            letter-spacing: 0.025rem;
            text-transform: uppercase;
            box-shadow: 0 5px 0 0 darken($color-yellow_1, 15%);
            padding: 8px 30px;
            transition: all ease-in .3s;

            &:hover {
                transform: translateY(5px);
                box-shadow: 0 0 0 0 darken($color-yellow_1, 15%);
            }
        }
    }
}

li {
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer; // display: inline-block;

    //  margin-right: 20px;
    // max-width: 220px;
    img {
        max-width: 100%;
        transform: translateY(-30px);
        transition: all ease-out .2s;
    }
}

#open-close {
    cursor: pointer;
}

.hidden-products {
    display: none;
}

.products-item.reveal-product {
    display: unline-block !important;
}

@media screen and (min-width:1200px) {
    #main-section {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: #981a81;
        transition: all ease-in .3s;
        z-index: 3;
    }

    .sidebare {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0; // transform: translateX(130%);
        background: rebeccapurple;
        z-index: 1;
        transition: all ease .3s;
    }

    #cart-infos {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        padding: 30px 20px;
        transition: all cubic-bezier(0.63, 1.01, 0.54, 0.93) .4s;
        /* transform: translateY(100%); */
    }

    .opened {
        .sidebare {
            right: 0; // transform: translateX(0);
        }

        #main-section {
            transform: translateX(-96.999999%);
        }

        #cart-infos {
            text-align: right;
        }
    }

    #open-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0 7px $color-yellow_3;
        background: $color-green_2;
        padding: 0;
    }
}

#cart-infos {
    font-family: $font-baloon;
    box-shadow: 10px 10px 37px 30px rgba(0, 0, 0, 0.38);

    >span {
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .btn {
        @include border-radius(30px);
        font-family: $font-baloon;
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        box-shadow: 0 5px 0 0 darken($color-yellow_1, 15%);
        padding: 8px 30px;
        transition: all ease-in .3s;

        &:hover {
            transform: translateY(5px);
            box-shadow: 0 0 0 0 darken($color-yellow_1, 15%);
        }
    }

    #total {
        padding: 0px 30px 30px;
        margin: 0 30px auto 30px;
        display: inline-flex;
        font-family: $font-chewy;
        background: $color-green_2;
        color: $color-yellow_2;
        font-weight: 600;
        font-size: 1.4rem; // padding:;
        text-align: center;
        border-radius: 30px;
        min-width: 100px;
        justify-content: center;
        align-items: center;
        padding: 8px 15px;

        #total_price {
            +span {
                display: inline-block;
                margin-left: 10px;
                height: 30px;
                width: 30px;
                background: $color-yellow_2;
                color: $color-green_2;
                font-weight: 700; // line-height: 30px;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0 0 0 5px $color-yellow_1;
                font-size: .9em;
                line-height: 30px;
            }
        }
    }

    .commande-action-wrapp {
        margin-top: 30px;
    }
}